* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 30px;
}

.book-card {
    border: 1px solid black;
}